{% extends 'base.html' %} 

{% block extracss %}
    <link rel="stylesheet" href="/static/histogram.css">
    <link rel="stylesheet" href="/static/timeline.css">
{% endblock %}

{% block extrascripts %}
    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div class="page">
    <div class="menu">
        <select id="day_select" class="form-select">
            <option value="0" id="sun" {% if day=="0" %}selected{% endif %} >Sunday</option>
            <option value="1" id="mon" {% if day=="1" %}selected{% endif %} >Monday</option>
            <option value="2" id="tue" {% if day=="2" %}selected{% endif %} >Tuesday</option>
            <option value="3" id="wed" {% if day=="3" %}selected{% endif %} >Wednesday</option>
            <option value="4" id="thu" {% if day=="4" %}selected{% endif %} >Thursday</option>
            <option value="5" id="fri" {% if day=="5" %}selected{% endif %} >Friday</option>
            <option value="6" id="sat" {% if day=="6" %}selected{% endif %} >Saturday</option>
        </select>
        <select id="loc_select" class="form-select">
            <option value="4" {% if location=="4" %}selected{% endif %}>Fourth Floor</option>
            <option value="3" {% if location=="3" %}selected{% endif %}>Third Floor</option>
            <option value="2" {% if location=="2" %}selected{% endif %}>Second Floor</option>
            <option value="1" {% if location=="1" %}selected{% endif %}>Basement</option>
        </select>
    </div>

    <div id="histogram" class="card container"></div>
    <div id="realtime" class="realtime-monitor">
        <canvas id="rtgraph" class="rtgraph" width="600px" height="50px"></canvas>
    </div>
    <div id="timeline"></div>
    <div class="history-container">
        <div id="wash_history" class="history"></div>
    </div>
    <div id="graph" class="graph">

    </div>
</div>

<script src="/static/histogram.js"></script>
<script src="/static/timeline.js"></script>
<script>

    function ajax(url, fun, parm=null) {
        var request = new XMLHttpRequest();
        request.open('GET', url, true);
        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
                // Success!
                var data = JSON.parse(request.responseText);
                fun(data, parm)
            } else {
                // We reached our target server, but it returned an error
            }
        };
        request.send();
    }

    var layout = {
        title: 'Current Draw Over Time',
        xaxis: {
        autorange: true
        },

        yaxis: {
        range: [0, 2000],
        autorange: false
        },
    };
    plot = document.getElementById('graph');
    Plotly.newPlot( plot, [{
            x: [],
            y: [] }],
            layout );

    var hours = 96

    const c = document.getElementById("rtgraph")
    const ctx = c.getContext("2d");

    function draw_current(data) {
        c.width = c.width;
        for (ix in data.current) {
            ctx.fillStyle = "green";
            ctx.fillRect((ix-data.current.length+c.width)*2 + 1,
                c.height - c.height*(data.current[ix]/2000), 1, c.height);
        }
    }

    function draw_new_current(curr) {
        
        ctx.fillStyle = "green";
        ctx.globalCompositeOperation = "copy";
        ctx.drawImage(ctx.canvas,-2, 0);
        // reset back to normal for subsequent operations.
        ctx.globalCompositeOperation = "source-over"
        ctx.fillRect(c.width-1,c.height - c.height*(curr/2000), 1, c.height);
    }

    function update(loc) {

        ajax('/rawcurrent-json?minutes=60&location='+loc, function(data) {
            Plotly.update(plot, {'x': [data.time], 'y': [data.current]})
            draw_current(data)
        })
    }

    setInterval(function() {
        //update()
    }, 2000);

    hist = new HourlyHistogram(document.getElementById("histogram"));
    dry_tl = new Timeline(document.getElementById("timeline"), 
        "drywash",duration=96*3600*1000,tracks=2);

    function updatePlot(loc,e) {
        ajax('/rawcurrent-range-json?location='+loc
            +'&start='+e.start
            +'&end='+e.end, function(data) {
            Plotly.update(plot, {'x': [data.time], 'y': [data.current]})
        })
    }

    function reloadWithParams() {
        tz = new Date().getTimezoneOffset()/60
        loc = document.getElementById("loc_select").value
        day = document.getElementById("day_select").value
        ajax('/histogram-json?weekday='+day+'&location='+loc+'&tzoff='+tz, function(data,h) {
            h.draw(data)
        }, hist);
        update(loc)
        ajax('/cycles-json?type=dry&hours='+hours
            +'&location='+loc, function (data,p) {
                dry_tl.draw(data,track=0, function (e) {
                    updatePlot(loc,e)
                });
            }, loc)
        ajax('/cycles-json?type=wash&hours='+hours
            +'&location='+loc, function (data,p) {
                dry_tl.draw(data,track=1, function (e) {
                    updatePlot(loc,e)
                });
            }, loc)
    }

    window.addEventListener("load", (event) => {
        tz = new Date().getTimezoneOffset()/60
        loc = document.getElementById("loc_select").value
        day = document.getElementById("day_select").value

        document.getElementById("loc_select").addEventListener("change", (event) => {
            reloadWithParams()
        });
        document.getElementById("day_select").addEventListener("change", (event) => {
            reloadWithParams()
        });

        ajax('/histogram-json?weekday='+day+'&location='+loc+'&tzoff='+tz, function(data,h) {
            h.draw(data)
        }, hist);


        ct = new Date().getTime();

        reloadWithParams()

        ws = new WebSocket("wss://laundry.375lincoln.nyc/websocket")
        ws.addEventListener("message", (event) => {
            e = JSON.parse(event.data)
            if (e.current && e.location == loc) {
                draw_new_current(e.current)
                d = new Date().getTime()
                dry_tl.update(d)
            }
        });

    });
</script>

{% endblock %}

