<html>
   <head>
    <style>

html, body {
    height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#root {
  width: 100%
}
.container {
    display: flex;
    align-items: flex-end;
    height:50%;
    width:100%;
    justify-content: center;
    background-color: rgb(241, 241, 241);
}

.menu {
    display: flex;
}
.hour {
    flex: 1 1 40px;
    background-color:aqua;
    border-radius: 3px;
    padding: 1px;
    margin: 1px;
}
    </style>

    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
   </head>
   <body>
    <div class="menu">
        <select>
            <option value="0" id="sun">Sunday</option>
            <option value="1" id="mon">Monday</option>
            <option value="2" id="tue">Tuesday</option>
            <option value="3" id="wed">Wednesday</option>
            <option value="4" id="thu">Thursday</option>
            <option value="5" id="fri">Friday</option>
            <option value="6" id="sat">Saturday</option>
        </select>
        <select>
            <option value="1">Basement</option>
            <option value="2">Second Floor</option>
            <option value="3">Third Floor</option>
            <option value="4">Fourth Floor</option>
        </select>

    </div>
    <div class="container">
        {%for i in range(0, 24)%}
            <div class="hour" id="h{{ i }}" style="height:{{ hist[i]*100 }}%" title="{{ i }}h"></div>
        {%endfor%}
    </div>
    <div id="graph">

    </div>

    <script>

        var layout = {
            title: 'Current Draw Over Time',
            xaxis: {
            autorange: true
            },

            yaxis: {
            range: [0, 2000],
            autorange: false
            },
        };
        plot = document.getElementById('graph');
        var request = new XMLHttpRequest();
        request.open('GET', '/rawcurrent-json?minutes=30&location='+{{ location }}, true);

        request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            // Success!
            var data = JSON.parse(request.responseText);
            console.log(data)

            Plotly.newPlot( plot, [{
                x: data.time,
                y: data.current }],
                layout );

        } else {
            // We reached our target server, but it returned an error

        }
        };

        request.onerror = function() {
        // There was a connection error of some sort
        };

        request.send();


        
    </script>

   </body>
</html>
