{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} 375 Lincoln Place Laundry Monitor {% endblock %}</h1>
	    
    {%for i in range(0, 4)%}
        <div class="card" id="{{ 4-i }}f">
            <div class="card-body">
                <h5 class="card-title"><a href="histogram?location={{ 4-i }}&weekday={{ weekday }}">{{ names[i] }}</a></h5>
                <p id="t{{ 4-i }}" class="card-subtitle">sometime</p>
                <p class="card-text" id="dryer{{ 4-i }}" style="background-color:gray; padding-left:10px;">"?"</p>
                <p class="card-text" id="washer{{ 4-i }}" style="background-color:gray; padding-left:10px;">"?"</p>
            </div>
        </div>
    {%endfor%}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function() {
            AVAIL = {"yes": {"color": "green", "text": "Available" },
                    "no": {"color": "red", "text": "In Use"},
                    "?": {"color": "gray", "text": "Offline"}}

            function setMachine(machine,avail,date){
                $(machine).css("background-color",AVAIL[avail].color).text(AVAIL[avail].text)
            }
            
            function update() {
                $.getJSON($SCRIPT_ROOT + '/status-json', {}, function(data) {
                    for (floor in data) {
                        d = new Date(data[floor][1]+"Z")
                        d2 = new Date(data[floor][2]+"Z")
                        
                        if (!(["none","wash","dry","both"].includes(data[floor][0]))){
                            setMachine("#washer"+floor,"?",d)
                            setMachine("#dryer"+floor,"?",d)
                            continue
                        }
                        if (Date.now()-d > 60*1000) {
                            $("#t"+floor).text("Last Seen "+d.toLocaleDateString())
                            setMachine("#washer"+floor,"?",d)
                            setMachine("#dryer"+floor,"?",d)
                            continue
                        }
                        $("#t"+floor).text("Last Updated "+d.toLocaleTimeString())
                        w = ["wash","both"].includes(data[floor][0]) ? "no": "yes"
                        d = ["dry", "both"].includes(data[floor][0]) ? "no": "yes"
                        
                        setMachine("#washer"+floor,w,d)
                        setMachine("#dryer"+floor,d,d)
                    }                    
                })
            }
            update()
            setInterval(function() {
                update()
            }, 1000);
        });
    </script>
{% endblock %}
